*.exe
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

id_rsa
*.pub

/**/*.tfstate*
/**/.terraform


# Local .terraform directories
**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*
terraform.*


# .tfstate files
*.tfstate
/**/*.tfstate*
*.tfstate.*