*.exe
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

id_rsa
*.pub

/**/*.tfstate*
/**/.terraform
key1
key1.pub

# Local .terraform directories
**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*



# .tfstate files
*.tfstate
/**/*.tfstate*
*.tfstate.*